/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-primary);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Section Title Start ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title::before {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.section-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 768px) {
    .topbar {
        display: none;
    }
}

/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 20px 15px;
    color: var(--bs-white) !important;
    font-size: 17px;
    font-weight: 300;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--bs-dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-white) !important;
}

.navbar-light .navbar-brand h1 {
    color: var(--bs-white);
}

.sticky-top.navbar-light .navbar-brand h1 {
    color: var(--bs-primary);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar-light .navbar-brand h1 {
        color: var(--bs-primary);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 15px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 10px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--bs-primary) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 30px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: -1px;
        left: 0;
        background: var(--bs-primary);
        transition: .5s;
        z-index: -1;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        height: calc(100% + 1px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/*** Carousel Hero Header Start ***/
.carousel-header .carousel-control-prev,
.carousel-header .carousel-control-next {
    background: transparent;
}

.carousel-header .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 25px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
    background-size: 60% 60%;
}

.carousel-header .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 25px 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
    background-size: 60% 60%;

}

.carousel-header .carousel .carousel-indicators li,
.carousel-header .carousel .carousel-indicators li,
.carousel-header .carousel .carousel-indicators li {
    opacity: 0;
}

.carousel-header .carousel-inner .carousel-item {
    position: relative;
    min-height: 100vh
}

.carousel-header .carousel-inner .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-header .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}

@media (max-width: 768px) {
    .carousel-header .carousel-inner .carousel-item img,
    .carousel-header .carousel-inner .carousel-item .carousel-caption {
        height: 700px;
        margin-top: -100px;
    }

    .carousel-header {
        height: 700px !important;
    }

    .carousel-header .carousel-control-prev .carousel-control-prev-icon,
    .carousel-header .carousel-control-next .carousel-control-next-icon {
        opacity: 0;
    }

    .search-bar {
        margin-top: -100px;
        transition: 0.5s;
    }
}

/*** Carousel Hero Header End ***/


/*** Footer End ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important;
}

/*Anime*/

html,
body {
    height: 100%;
    font-family: "Mulish", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #0b0c2a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    font-family: "Mulish", sans-serif;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
    margin-bottom: 30px;
}

.section-title h4,
.section-title h5 {
    color: #ffffff;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    font-family: "Oswald", sans-serif;
}

.section-title h4:after,
.section-title h5:after {
    position: absolute;
    left: 0;
    top: -6px;
    height: 32px;
    width: 4px;
    background: #e53637;
    content: "";
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

/* buttons */

.primary-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
}

.primary-btn span {
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.site-btn {
    font-size: 13px;
    color: #ffffff;
    background: #e53637;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
}

/*---------------------
  Login
-----------------------*/

.login {
    flex: 1;
    padding-top: 130px;
    padding-bottom: 120px;
}

.login__form {
    position: relative;
    padding-left: 145px;
}

.login__form:after {
    position: absolute;
    right: -14px;
    top: -40px;
    height: 330px;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    content: "";
}

.login__form h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
}

.login__form form .input__item {
    position: relative;
    width: 370px;
    margin-bottom: 20px;
}

.login__form form .input__item:before {
    position: absolute;
    left: 50px;
    top: 10px;
    height: 30px;
    width: 1px;
    background: #b7b7b7;
    content: "";
}

.login__form form .input__item input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    background: #ffffff;
    border: none;
    padding-left: 76px;
}

.login__form form .input__item input::-webkit-input-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input::-moz-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input:-ms-input-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input::-ms-input-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input::placeholder {
    color: #b7b7b7;
}

.login__form form .input__item span {
    color: #b7b7b7;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.login__form form button {
    border-radius: 0;
    margin-top: 10px;
}

.login__form .forget_pass {
    font-size: 15px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 60px;
    bottom: 12px;
}

.login__register {
    padding-left: 30px;
}

.login__register h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
}

.login__register .primary-btn {
    background: #e53637;
    padding: 12px 42px;
}

.login__social {
    padding-top: 52px;
}

.login__social__links {
    text-align: center;
}

.login__social__links span {
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.login__social__links ul li {
    list-style: none;
    margin-bottom: 15px;
}

.login__social__links ul li:last-child {
    margin-bottom: 0;
}

.login__social__links ul li a {
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 460px;
    padding: 14px 0;
    position: relative;
    margin: 0 auto;
}

.login__social__links ul li a.facebook {
    background: #4267b2;
}

.login__social__links ul li a.google {
    background: #ff4343;
}

.login__social__links ul li a.twitter {
    background: #1da1f2;
}

.login__social__links ul li a i {
    font-size: 20px;
    position: absolute;
    left: 32px;
    top: 14px;
}

/*---------------------
  Sign Up
-----------------------*/

.signup {
    padding-top: 130px;
    padding-bottom: 150px;
}

.signup .login__form:after {
    height: 450px;
}

.signup .login__form h5 {
    font-size: 15px;
    color: #ffffff;
    margin-top: 36px;
}

.signup .login__form h5 a {
    color: #e53637;
    font-weight: 700;
}

.signup .login__social__links {
    text-align: left;
    padding-left: 40px;
}

.signup .login__social__links h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
}

.signup .login__social__links ul li a {
    margin: 0;
    text-align: center;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .hero {
        overflow: hidden;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.about {
    text-align: center;
    color: whitesmoke;
    font-weight: lighter;
}

/*Telerik*/

/*header {*/
/*    text-align: right;*/
/*    padding: 10px 50px 10px 44px;*/
/*    border-bottom: 1px solid #dee2e6;*/
/*}*/

/*footer {*/
/*    text-align: center;*/
/*    padding: 10px 50px 10px 50px;*/
/*    border-top: 1px solid #dee2e6;*/
/*}*/

/*a {*/
/*    color: #007bff;*/
/*}*/

.body-content-telerik {
    text-align: center;
    padding: 10px 50px 50px 50px;
}

.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
}

.header-telerik {
    display: table-header-group;
    font-weight: bold;
    color: whitesmoke;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
}

/*.rowGroup {*/
/*    display: table-row-group;*/
/*}*/

.row-label {
    display: table-row;
}

.cell-label {
    display: table-cell;
    width: 15%;
    padding:1px;
    border-bottom: 1px solid #dee2e6;
}

/*.margin12 {*/
/*    margin: 12px 0px 12px 0px;*/
/*}*/

/*.form-label {*/
/*    font-weight: bold;*/
/*}*/

/*.form-input {*/
/*    margin: 12px 0px 12px 0px;*/
/*    width: 200px;*/
/*    height: 25px;*/
/*}*/

.form-error-telerik {
    color: #dc3545;
}

/*.btn-primary {*/
/*    margin: 12px 6px 12px 0px;*/
/*    color: #fff;*/
/*    background-color: #007bff;*/
/*    border-color: #007bff;*/
/*    height: 30px;*/
/*}*/

/*.btn-danger {*/
/*    margin: 12px 6px 12px 0px;*/
/*    color: #fff;*/
/*    background-color: #dc3545;*/
/*    border-color: #dc3545;*/
/*    height: 30px;*/
/*}*/

/*a.nav {*/
/*    margin: 6px 6px 6px 6px;*/
/*}*/

.label-error-telerik {
    color: red
}

.text-center{
    text-align: center;
    color: white;
    tab-size: 200px;
}
.content {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
}
.card-group{
    display: flex;
    flex-flow: row wrap;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}