<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
<th:block th:include="~{/fragments/navHome}"></th:block>
    <h1 class="about">This is Forum System ...</h1>
<img src="../static/img/carousel-1.jpg"
     th:src="@{/img/carousel-1.jpg}" class="img-fluid" alt="Image" width="">

</body>
<th:block th:include="~{/fragments/footer}"></th:block>
</html>