<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Proba</title>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
</head>

<body>
<div class="content text-center">
    <!--                    User count-->
    <div class="card col-md-6 no-padding ">
        <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
                <i class="fa fa-users"></i>
            </div>
            <div class="h4 mb-0">
                <span class="count" th:text="${userCount}">87500</span>
            </div>
            <small class="text-muted text-uppercase font-weight-bold">Users</small>
        </div>
    </div>
    <!--                    Posts-->
    <div class="card col-md-6 no-padding ">
        <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
                <i class="fa fa-podcast"></i>
            </div>
            <div class="h4 mb-0">
                <span class="count" th:text="${postCount}">1238</span>
            </div>
            <small class="text-muted text-uppercase font-weight-bold">Posts</small>
        </div>
    </div>
    <!--                    Comments-->
    <div class="card col-md-6 no-padding ">
        <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
                <i class="fa fa-comments-o"></i>
            </div>
            <div class="h4 mb-0">
                <span class="count" th:text="${commentsCount}">972</span>
            </div>
            <small class="text-muted text-uppercase font-weight-bold">COMMENTS</small>
        </div>
    </div>
</div>
</body>
</html>