<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Post</title>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
<div class="container-fluid bg-primary px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a th:href="@{/posts}"><small class="me-3 text-light"><i
                            class="fa fa-sign-in me-2"></i>Return</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="body-content-telerik">
    <form th:action="@{/posts/new}" th:object="${post}"  action="#" method="POST">
        <label th:text="#{post.label.title}">Title</label>
        <br/>
        <textarea th:field="*{title}" rows="3" cols="25"> </textarea>
        <label class="label-error-telerik" th:errors="*{title}">Title error placeholder</label>
        <br/><br/>
         <label th:text="#{post.label.content}">Content</label>
         <br/>
        <textarea th:field="*{content}" rows="4" cols="35"> </textarea>
        <label class="label-error-telerik" th:errors="*{content}">Content error placeholder</label>
         <br/><br/>
          <label th:text="#{post.label.tag}">Tag</label>
         <br/>
        <input type="text" th:field="*{tag}"/>
        <label class="label-error-telerik" th:errors="*{tag}">Content error placeholder</label>
         <br/><br/>
        <input type="submit" value="Save">
    </form>
</div>

</body>
<th:block th:include="~{/fragments/footer}"></th:block>
</html>