<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
    <br/><br/><br/>
    <title th:text="${post.title}">Single Post</title>

</head>
<body>
<th:block th:include="~{/fragments/navHome}"></th:block>
<div class="text-center" th:text="${post.title}">Post Title</div>
<br/>
<div class="text-center">
    <p class="text-center" th:text="#{post.label.author} + ': ' + ${post.getPostCreatedBy().username}">Author creator</p>
    <p class="text-center"th:text="#{post.label.timeCreator} + ': ' + ${post.getGetTime()}">Time creator</p>
    <p class="text-center"th:text="#{post.label.likes} + ': ' + ${post.likes}">Likes</p>
    <p class="text-center"th:text="#{post.label.dislikes} + ': ' + ${post.dislikes}">Dislikes</p>
</div>



</body>
<th:block th:include="~{/fragments/footer}"></th:block>
</html>