<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Post</title>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{/fragments/navHome}"></th:block>

<div class="body-content-telerik">
    <h2>Update Post</h2>
    <form th:action="@{__${requestURI}__}" th:object="${post}"  action="#" method="POST">
        <label th:text="#{post.label.title}">Title</label>
        <br/>
        <textarea th:field="*{title}" rows="3" cols="25"> </textarea>
        <label class="label-error-telerik" th:errors="*{title}">Title error placeholder</label>
        <br/><br/>
        <label th:text="#{post.label.content}">Content</label>
        <br/>
        <textarea th:field="*{content}" rows="4" cols="35"> </textarea>
        <label class="label-error-telerik" th:errors="*{content}">Content error placeholder</label>
        <br/><br/>
        <label th:text="#{post.label.tag}">Tag</label>
        <br/>
        <input type="text" th:field="*{tag}"/>
        <label class="label-error-telerik" th:errors="*{tag}">Content error placeholder</label>
        <br/><br/>
        <input type="submit" value="Update">
    </form>
</div>

</body>
    <th:block th:include="~{/fragments/footer}"></th:block>
</html>