    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${currentUser}"></title>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">

</head>
<body>
    <div class="body-content-telerik">
        <h2>Edit user information</h2>
        <form th:action="@{/user/update}" th:object="${currentUser}" th:method="POST">
            <label th:text="#{users.label.firstName}">First name</label>
            <br/>
            <input th:field="*{firstName}"/>
            <label class="label-error-telerik" th:errors="*{firstName}">First name error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.lastName}">Last name</label>
            <br/>
            <input th:field="*{lastName}"/>
            <label class="label-error-telerik" th:errors="*{lastName}">Last name error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.password}">Password</label>
            <br/>
            <input th:field="*{password}"/>
            <label class="label-error-telerik" th:errors="*{password}">Password error placeholder</label>
            <br/> <br/>

            <button type="submit">Update</button>
        </form>
    </div>

</body>

<th:block th:include="~{/fragments/footer}"></th:block>
</html>