<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.username}">Username</title>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{/fragments/navHome}"></th:block>
    <div th:if="${user.posts.isEmpty()}">
        <h2 class="text-center" th:text="#{user.post.isEmpty}">No Posts</h2>
    </div>
    <div class="text-center" th:unless="${user.posts.isEmpty()}">
        <h2 class="text-center" th:text="#{user.post.isNotEmpty}"> All Posts</h2>
    </div>

    <div th:each="post : ${user.posts}">
        <div class="text-center" th:text="${post.title}">

        </div>
    </div>
</body>
<th:block th:include="~{/fragments/footer}"></th:block>
</html>